DATABASE_URL=postgres://postgres:postgres@db:5432/flash_sale_engine_development
REDIS_URL=redis://redis:6379/0
SHOPIFY_WEBHOOK_SECRET=replace-me
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_SHOP_DOMAIN=
APP_HOST=http://localhost:3000
